body {
    font-family: 'Segoe UI', sans-serif;
    background-color:white;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 30px;
  }
  
  #authBox, #chatBox {
    border-radius: 10px;
    box-shadow: 0 4px 12px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
  }
  
  input {
    border: 1px solid ;
  }
  
  button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
  }
  
  .msg {
    margin: 6px 0;
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 75%;
    word-wrap: break-word;
    clear: both;
  }
  
  .msg-sender {
    align-self: flex-start;
    text-align: left;
    float: left;
  }
  
  .msg-receiver {
    align-self: flex-end;
    text-align: right;
    float: right;
  }
  
  .notify {
    clear: both;
  }
  
  #captchaCanvas {
    border: 1px solid ;
    margin: 10px 0;
    display: block;
  }