* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: #f4f4f4; 
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
